{# This is the common header that is shared with all other templates
to create site unity #}

<!DOCTYPE html>
<html>
<head>
	{# Imports #}
	<link href="https://fonts.googleapis.com/css?family=Bubbler+One|Lato" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="//apis.google.com/js/platform.js?onload=start"> </script>
	<script src="{{url_for('static',filename='scripts.js')}}"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}?version=10">
	<title>Find a Tutor</title>
</head>


<body class="container">
<section class="quarter">
	<img src="{{ url_for('static', filename='logo.png') }}" width="80">
</section>
<h2 class="half text-center" id="main-title">Find a Tutor</h2>

<div class="quarter text-right summary">

	{# Checks if a user is signed in. If so, profile pic and name are shown,
	otherwise a link to login is shown #}
	{% if user is not none %}
		<section id="profile-pic">
			<a href="{{url_for('profile')}}"><img src="{{user.picture}}" width="40"></a>
			<br>
			{{user.name}}
		</section>
		<a href="{{ url_for('logoutUser') }}">logout</a>
	{% else %}
		<br>
		<br>
		<a href="{{ url_for('login') }}">login</a>
	{% endif %}
</div>

{# Checks the link address to create a series of navigation links along top
of page to aid the user in navigating the site. #}
<div class="all summary">
	{% set path = request.path.split('/') %}
	<a href="{{ url_for('main') }}">home</a> 
	{% if path|length > 2 %}
		/ <a href="{{ url_for('subjectView',subject_name=path[2]) }}">{{path[2]}}</a>
	{% endif %}
	{% if path|length > 3 and path[3] == 'new' %}
		/ <a href="{{ url_for('newPost',subject_name=path[2]) }}">new</a>
	{% elif path|length > 3 and path[3] == 'edit' %}
		/ <a href="{{ url_for('postView',subject_name=path[2],post_id=path[3]) }}">edit</a>
	{% elif path|length > 3 %}
		/ <a href="{{ url_for('postView',subject_name=path[2],post_id=path[3]) }}">{{title}}</a>
	{% endif %}
	
	
</div>

{% block content %}
{% endblock %}

</body>

</html>