
{% extends 'base.html' %}

{% block content %}

<h2 class="title">Add New Post</h2>

<form method="POST" class="all">
<p>
	<span class="small-bubbler">
		Subject: 
	</span> 
	<span class="summary">
		{{subject_name}}
	</span>
	
</p>
<p>
	<span class="small-bubbler">Title:</span>
	<input type="text" name="title" value="{{title}}">
	{{params['title']}}
</p>
<p>
	<span class="small-bubbler">Description:</span> <br>
	<textarea name="description" rows="5" cols="40">{{description}}</textarea>
	{{params['description']}}
</p>
<p>
	<span class="small-bubbler">Rate per hour:</span>  $
	<input type="text" name="rate" value="{{rate}}">
	{{params['rate']}}
</p>
<p>
	<input type="hidden" name="form_token" value="{{form_token}}">
</p>
	<input type="submit" value="Post">
</form>

<form action="{{ url_for('subjectView',subject_name=subject_name) }}">
	<input type="submit" value="cancel">
</form>





{% endblock %}