{% extends 'base.html' %}

{% block content %}


<h2 class="all">{{post.user.name}}</h2>
<h3 class="all">{{post.subject.name}}</h3>
<h3 class="all">{{post.description}}</h3>
<h3 class="all">${{post.rate}} per hour</h3>
<h3 class="all">{{post.user.email}}</h3>

{% if post.user.email == user.email %}
	<a href="{{ url_for('editPost', subject_name=post.subject.name, post_id=post.id) }}">Edit</a>
	 &#10177; 
	<a href="{{ url_for('deletePost', subject_name=post.subject.name, post_id=post.id) }}">Delete</a>
{% endif %}

{% endblock %}