
{% extends 'base.html' %}

{% block content %}

<h2 class="all title">{{user.name}}</h2>
<section class="all">
	<img src="{{user.picture}}" width="80">
</section>

<form method="POST" enctype="multipart/form-data">
	<h3 class="all small-bubbler">Update Profile</h3>
	<span class="summary">Name:</span>
	<input type="text" name="name" value="{{user.name}}">
	<br>
	<br>
	<section class="summary">Profile Picture:</section>
	<br>
	<input type="file" name="picture" accept=".jpg,.png,.jpeg,.py">
	<br>
	{{file_error}}
	<br>
	<input type="hidden" name="form_token" value="{{form_token}}">
	<input type="submit" value="update">
</form>


{% endblock %}